# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# .gitignore
.idea/
__pycache__/
app.db
data/__pycache__/
data_auth/__pycache__/
*.log
services/__pycache__/
static/
templates/
web_rest/__pycache__/
web_static/__pycache__/

venv/
